/* styles goes here */
.container {
    background: #FFFFFF;
    box-shadow: 0px 4px 68px rgba(0, 0, 0, 0.1);
}

.title h1 {
    margin-left: 120px;
    padding-top: 90px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 53px;
    color: #171717;
}

.firstp {
    
}

.firstp::first-letter {
    font-family: Merriweather;
    font-style: normal;
    font-weight: normal;
    font-size: 110px;
    line-height: 138px;
    color: #000000;
    float: left;
    margin-top: -15px;
    padding-right: 13px;
}

.content p {
    /* margin-left: 120px;
    margin-right: 120px; */
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.05em;
    color: rgba(0, 0, 0, 0.7);
    
}

.ps {
    font-family: Lato;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    color: #171717;
    padding-left: 120px;
    margin-bottom: 42px;
}

.button {
    padding-bottom: 90px;
}

.button p{
    margin-top: 0px;
    margin-left: 120px;
    text-align: center;
    
    width: 264px;
    height: 68px;
    border: 2px solid #EAA258;
    box-sizing: border-box;
    
}

.button a {
    display: block;
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 34px;
    text-transform: uppercase;
    width: 264px;
    height: 68px;
    color: #EAA258;
    padding-top: 17px;
}

.button p:hover {
    background-color: aqua;
}