/* styles goes here */
.container {
    background: #FFFFFF;
    box-shadow: 0px 4px 68px rgba(0, 0, 0, 0.1);
}

p {
    margin: 0;
    padding: 0;
}

.title {
    margin-left: 105px;
    padding-top: 90px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 53px;
    color: #171717;
}

.firstp {
    display: flex;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.06em;
    color: rgba(0, 0, 0, 0.7);
    padding-left: 105px;
    height: 104px;
}

.textfirst {
    padding-top: 25px;
    padding-left: 13px;
    
}
.text1 {
    padding-left: 105px;
    margin-top: 22px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.06em;
    color: rgba(0, 0, 0, 0.7);
}

.text2 {
    padding-left: 105px;
    margin-top: 36px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.06em;
    color: rgba(0, 0, 0, 0.7);
}

.text3 {
    padding-left: 105px;
    margin-top: 36px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.06em;
    color: rgba(0, 0, 0, 0.7);
}

.t {
    padding-top: 10px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: normal;
    font-size: 110px;
    line-height: 138px;
    color: #000000;
}

.content  {
    margin: 0;
    padding-right: 120px;
    margin-top: 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.05em;
    color: rgba(0, 0, 0, 0.7);
}

.ps {
    margin-left: 110px;
    margin-top: 25px;
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    font-size: 60px;
    line-height: 34px;
    letter-spacing: 0.05em;
    color: #171717;
}

.psimg {
    padding-bottom: 20px;
}

.pstext {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    color: #171717;
    padding-left: 30px;
    letter-spacing: 0.065em;
}

.button {
    padding-bottom: 90px;
}

.button a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    width: 264px;
    height: 68px;
    color: #EAA258;
    padding-top: 15px;
    border: 2px solid #EAA258;
    box-sizing: border-box;
    margin-top: 40px;
    margin-left: 105px;
}

.button a:hover {
    background-color: brown;
}